header {
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#imagen-logo {
    width: 120px;
}



.container{
    width: 92%;
    margin: auto;
    height: 100%;
    display: flex;
}

#titulo{
    font-size: 60px;
}

.child{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#boton{
    color: #ffffff;
    background-color: #112369;
    padding : 6px;
    border: 0px;
    border-radius: 12px;
    margin: 7px;
}

#boton:hover{
background-color: #0066B3;
}


#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;

}

#bar{
    border: 25px solid #8DC63F;
}

.botonimg{
    display: inline-flex;
    
}

.curved{
    background-color: #F7941D;
    color: white;
    
}
.curved h1{
    display: flex;
    justify-content: center;
    align-content: space-between;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 20px;
    right: 30px;
}


.posts{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90%;
    border: 12px solid #112364 ;
    border-radius: 20px;

}

.accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.accordion-item{
    margin: 5px;
}

.accordion-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #112364;
    cursor: pointer;
}

.accordion-content{
    display: none;
    max-height: 0px;
    transition: max-height 0.6s ease-in-out;
    background-color: antiquewhite;
    overflow: hidden;
    padding: 10px;
}

.accordion-content.active {
    display: block;
    max-height: 1000px;
}


/*phone*/
@media only screen and (min-width: 576px){
    #imagen-logo {

        width: 90px; 
    }
    #boton{
        padding: 0px;
    }
  
    
}
/*desktop*/
@media only screen and (min-width: 1200px){
    #imagen-logo {

        width: 220px; 
    }
    #boton{
        padding: 6px;
    }
    .curved h1{
        display: flex;
        justify-content: center;
        align-content: space-between;
        font-size: 50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: relative;
        top: 100px;
        right: 80px;
    }
    .posts{
        display: flex;
        justify-content:center; 
        align-items: center;
        width: 40%;
        border: 16px solid #112364 ;
        border-radius: 20px;
    
    }
}




